a {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }
    &:active {
        color: lightgray;
    }
}
.signIn-tools{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

.nav-caption {
    display: inline-block;
    padding-left: 6px;
}